<section class="row">
  <div class="col s4 sidebar-content">
    <%= render partial: 'sidebar', locals: { jobs: @jobs } %>
  </div>
  <div class="col s8">
    <% if @selected_job == nil %>
      <div class="section">
        <p class="center-align">Insira uma vaga clicando em "Registrar Vagas!"</p>
      </div>
    <% else %>
      <%= render partial: 'description', locals: { selected_job: @selected_job } %>
    <% end %>
  </div>
</section>
