<section class="container row">
  <div class="col s4 sidebar-content">
    <%= render partial: 'sidebar', locals: { jobs: @jobs } %>
  </div>
  <div class="col s8">
    <%= render partial: 'description', locals: { selected_job: @selected_job } %>
  </div>
</section>

