<footer>
  <div class="rights-reserved">
    &copy; Todos os direitos reservados - <a href="https://github.com/marcuspereiradev" target="_blank">Marcus Pereira</a>
  </div>

  <ul>
    <li><a href="https://github.com/marcuspereiradev" target="_blank"><img src="/assets/GitHub-Mark.png" alt=""></a></li>
    <li><a href="https://www.linkedin.com/in/marcus-pereira-33055b5b/" target="_blank"><img src="/assets/linkedIn.png" alt=""></a></li>
  </ul>
</footer>
