<footer>
  <div class="rights-reserved">
    &copy; Todos os direitos reservados - <a href="https://github.com/marcuspereiradev" target="_blank">Marcus Pereira</a>
  </div>

  <ul>
    <li><a href="https://github.com/marcuspereiradev" target="_blank"><%= image_tag 'GitHub-Mark.png' %></a></li>
    <li><a href="https://www.linkedin.com/in/marcus-pereira-33055b5b/" target="_blank"><%= image_tag 'linkedIn.png' %></a></li>
  </ul>
</footer>
