@import 'materialize';
@import 'material_icons';

@import 'colors';

.access-time {
  display: flex;

  i {
    margin-right: 5px;
  }
}

.main-nav {
  background-color: $color-header;
}

.sidebar-content {
  max-height: 600px;
  overflow-y: scroll;
}

.title-vancancy {
  font-size: 1em;
  font-weight: 500;
}

.vacancy-items {
  &:hover {
    background-color: $color-hover;
  }

  p {
    color: $color-gray;
    font-size: .875em;
  }
}

