@import 'materialize';
@import 'material_icons';

@import 'colors';

.main-nav {
  background-color: $color-header;
}

.title-vancancy {
  font-size: 1em;
  font-weight: 500;
  // margin: 10px 0;
}

.vacancy-items p {
  color: $color-gray;
  font-size: 0.875em;
  // margin: 5px 0;
}

.vacancy-items:hover {
  background-color: rgb(241, 241, 241);
}