<nav class="main-nav">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">DevJobs</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to 'Go to Register', new_article_path %></li>
      <li><%= link_to 'Go to All Registered', register_index_path %></li>
    </ul>
  </div>
</nav>

