
<%= render 'header' %>
<section class="container row">
  <div class="col s4 sidebar-content">
    <%= render 'sidebar' %>
  </div>
  <div class="col s8">
    <%= render 'description' %>
  </div>
</section>

