<nav class="main-nav">
  <div class="nav-wrapper">
    <%= link_to 'DevJobs', register_index_path, class:'brand-logo' %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to 'Go to Register', new_article_path %></li>
    </ul>
  </div>
</nav>

